{% extends "main/base.html" %}
{% load static %}

{% block head %}
    <style>
        .custom-dropdown {
            position: relative;
            display: inline-block;
        }

        .custom-dropdown-menu {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .custom-dropdown-menu a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .custom-dropdown-menu a:hover {
            background-color: #f1f1f1;
        }

        .custom-dropdown:hover .custom-dropdown-menu {
            display: block;
        }

        .custom-dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }

        .input-group-text {
            background-image: url("{% static 'icons/search.svg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80%;
            border-radius: 0rem;
            align-items: center;
            display: flex;
            justify-content: center;
            width: 2.375rem;
        }

        .input-group .form-control {
            border-radius: .375rem;
        }

        .input-group .form-control:not(:last-child) {
            padding-left: 2.375rem;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow rounded-lg">
          <div class="card-header text-center">
            <h3>Search</h3>
          </div>
          <div class="card-body">
            
            <!-- Search Field and Button -->
            <div class="row justify-content-center mb-3">
              <div class="col-md-8">
                <div class="input-group">
                  <span class="input-group-text" id="search-addon"></span>
                  <input type="text" class="form-control" placeholder="Search for papers" aria-label="Search for papers" aria-describedby="search-addon">
                  <button type="button" class="btn btn-danger" style="margin-left: 8px; width: 120px;">Search</button>
                </div>
              </div>
            </div>

            <!-- Author Field and Fields Dropdown -->
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="d-flex">
                  <div class="flex-grow-1 me-3 mx-2">
                    <input type="text" class="form-control" placeholder="Filter by author" aria-label="Filter by author">
                  </div>
                  <div>
                    <button class="btn btn-primary dropbtn" style="width: 120px;">Fields</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>                            
{% endblock %}