{% extends 'main/base.html' %}
{% load static %}
{% block title %}Rates{% endblock %}

{% block content %}
<div class="container py-5 text-center">
  <h1>Rates</h1>
  <hr>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <img class="d-block mx-auto mb-2" src="{% static 'icons/physics.svg' %}" width="50" height="50">
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title text-center mb-5">Physics</h1>
          <a href="{% url 'rates_by_criteria' 'physics' 'score' %}" class="w-100 btn btn-lg btn-outline-primary mt-5">Rates by score</a>
          <a href="{% url 'rates_by_criteria' 'physics' 'date' %}" class="w-100 btn btn-lg btn-primary mt-2" role="button">The newest</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <img class="d-block mx-auto mb-2" src="{% static 'icons/math.svg' %}" width="50" height="50">
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-center mb-5">Math</h1>
            <a href="{% url 'rates_by_criteria' 'math' 'score' %}" class="w-100 btn btn-lg btn-outline-primary mt-5">Rates by score</a>
            <a href="{% url 'rates_by_criteria' 'math' 'date' %}" class="w-100 btn btn-lg btn-primary mt-2" role="button">The newest</a>
          </div>
        </div>
      </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <img class="d-block mx-auto mb-2" src="{% static 'icons/machine learning.svg' %}" width="50" height="50">
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-center mb-5">AI</h1>
            <a href="{% url 'rates_by_criteria' 'machine learning' 'score' %}" class="w-100 btn btn-lg btn-outline-primary mt-5">Rates by score</a>
            <a href="{% url 'rates_by_criteria' 'machine learning' 'date' %}" class="w-100 btn btn-lg btn-primary mt-2" role="button">The newest</a>
          </div>
        </div>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <img class="d-block mx-auto mb-2" src="{% static 'icons/chemistry.svg' %}" width="50" height="50">
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title text-center mb-5">Chemistry</h1>
          <a href="{% url 'rates_by_criteria' 'chemistry' 'score' %}" class="w-100 btn btn-lg btn-outline-primary mt-5">Rates by score</a>
          <a href="{% url 'rates_by_criteria' 'chemistry' 'date' %}" class="w-100 btn btn-lg btn-primary mt-2" role="button">The newest</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <img class="d-block mx-auto mb-2" src="{% static 'icons/biology.svg' %}" width="50" height="50">
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-center mb-5">Biology</h1>
            <a href="{% url 'rates_by_criteria' 'biology' 'score' %}" class="w-100 btn btn-lg btn-outline-primary mt-5">Rates by score</a>
            <a href="{% url 'rates_by_criteria' 'biology' 'date' %}" class="w-100 btn btn-lg btn-primary mt-2" role="button">The newest</a>
          </div>
        </div>
      </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <img class="d-block mx-auto mb-2" src="{% static 'icons/economics.svg' %}" width="50" height="50">
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-center mb-5">Economics</h1>
            <a href="{% url 'rates_by_criteria' 'economics' 'score' %}" class="w-100 btn btn-lg btn-outline-primary mt-5">Rates by score</a>
            <a href="{% url 'rates_by_criteria' 'economics' 'date' %}" class="w-100 btn btn-lg btn-primary mt-2" role="button">The newest</a>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}