{% extends 'main/base.html'%}
{% load static %}
{% block title %}Submit paper{% endblock %}

{% block content %}
<div class="py-5 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
        <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
    </svg>
    <h2>Submit form</h2>
</div>  
<div class="container mt-1 mb-5">
    <div class="card w-60 rounded-3 shadow-lg">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h4 class="fw-bold">Submit Paper</h4>
                </div>
        
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-12 mb-3">
                            <label for="title" class="form-label">Title</label>
                            {{ form.title }}
                        </div>
                        
                        <div class="col-md-12 mb-3">
                            <label for="field" class="form-label">Field</label>
                            {{ form.field }}
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="authors" class="form-label">Authors</label>
                            {{ form.authors }}
                        </div>
        
                        <div class="col-12 mb-3">
                            <label for="abstract" class="form-label">Abstract</label>
                            {{ form.content }}
                        </div>
        
                        <div class="col-12 mb-3">
                            <label for="publication date" class="form-label">Publication Date</label>
                            {{ form.publication_date }}
                        </div>
                        
                        <div class="col-12 mb-3">
                            <label for="pdf file" class="form-label">PDF File</label>
                            {{ form.pdf_file }}
                        </div>
                    </div>
                </div>
                
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">Submit Paper</button>
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Error:</strong> Please correct the errors below.
                    </div>
                {% endif %}
            </div>
        </form>                
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let socket = new WebSocket('ws://localhost:8000/ws/submit/');
    
        socket.onopen = function(e) {
            console.log("WebSocket connection established");
            console.log("Hello");
        };
    
        socket.onmessage = function(event) {
            // Handle any messages received from the server here
            console.log('Message from server: ', event.data);
        };
    
        socket.onerror = function(error) {
            // Handle any errors that occur during the connection
            console.error("WebSocket Error: " + error);
        };
    
        socket.onclose = function(event) {
            // Handle the WebSocket connection closing
            console.log("WebSocket closed: ", event);
        };
    });
</script>

{% endblock %}